div .boxAbout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 16vw;
    height: 100vh;
    background-color: var(--mainColor);
}


.s1photo a img{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    filter: grayscale(75%);
    overflow: hidden;
    transition: .4s all;
}

.s1photo a img:hover{
    filter: none;
}

.s2details p{
    margin: 0 8vw 0 8vw;
    font-size: 1.2vw;
    line-height: 225%;
    color: var(--mainColorLight);
}

.s3etc{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4vh;
    text-align: end;
    line-height: 200%;
    color: var(--mainColorLight);
}

.topicA p{
    font-size: 2.4vw;
    font-weight: 900;
    text-decoration: none;
    color: var(--mainColorLight);
}

/* .topicA a:hover{
    color: var(--mainColor);
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    transition: 0.7s ease;
} */

.detailsA{
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detailsA p a{
    color: var(--textColor);
}

.detailsA p a:hover{
    color: var(--secondaryColor);
    transition: .3s ease;
}

#circ:hover {
    background-color: var(--mainColor);
    border: 1.5px solid var(--secondaryColor);
}

@media only screen and (max-width: 425px) {
    div .boxAbout{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* margin: 35vh 8vw; */
        /* height: 85vh; */
    }

    .s1photo a img{
        width: 24vw;
        height: 24vw;
        border-radius: 50%;
        filter: grayscale(75%);
        overflow: hidden;
        transition: .4s all;
    }
    
    .s1photo a img:hover{
        filter: none;
    }

    .s2details p{
        margin: 18vw 0vw 0 0vw;
        font-size: 3vw;
        line-height: 225%;
        color: var(--mainColorLight);
    }
    
    .s3etc{
        margin: 0;
        /* padding: auto; */
        /* width: 50vw; */
        display: flex;
        gap: 0;
        /* flex-direction: col */
        align-items: flex-end;
        /* justify-content: space-between; */
        /* text-align: center; */
        /* line-height: 150%; */
    }
    
    .s3etc .topicA p{
        margin: 0;
        visibility: hidden;
    }

    .s3etc #circ{
        margin: 0;
        visibility: hidden;
    }

    .detailsA{
        margin: 0vw -8vw 0 0;
    }

    .detailsA p{
        font-size: 3vw;
        line-height: normal;
    }

    .detailsA p a{
        font-size: 2.5vw;
        color: var(--textColor);
    }
    
    .detailsA p a:hover{
        font-size: 2.5vw;
        color: var(--secondaryColor);
        transition: .3s ease;
    }
}