div .boxContact{
    margin: auto;
    padding: 25vh 16vw;
    background-color: var(--mainColor);
}

a .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1.5px solid var(--mainColorLight);
    text-align: center;
    align-content: center;
}

a .circle:hover {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--mainColorLight);
    border-radius: 50%;
    border: 1.5px solid var(--mainColorLight);
    transition: .7s ease;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--mainColorLight);
}

.details a{
    color: var(--textColor);
}

.details a:hover{
    color: var(--secondaryColor);
    transition: .4s ease;
}

.contactgang{
    display: flex;
    gap: 1.1vw;
}

@media only screen and (max-width: 425px){

    div .boxContact{
        height: 75vh;
    }

    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        color: var(--mainColorLight);
    }

    .details p{
        visibility: hidden;
    }
    
    .contactgang{
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .boxContact .topicA p{
        text-align: center;
        padding-bottom: 16vw;
    }

    .topicA p{
        font-size: 7vw;
    }

}