div .topic{
    margin: 0;
    padding: auto;
    background-color: var(--mainColor);
    height: 100vh;
}

div .logoname{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
    color: var(--mainColorLight);
    height: fit-content;
}

/* div .logoname img{
    padding-top: 1vh;
    width: 4vw;
} */

div .logoname h1{
    /* padding-left: 3vw; */
    font-size: 8.5vw;
    font-weight: 900;
}

div .topic h3{
    padding-bottom: .7vh;
    font-size: 1.5vw;
    color: var(--mainColorLight);
    text-align: center;
}

div .topic p{
    font-size: 1.2vw;
    color: var(--textColor);
    text-align: center;
}

div .intro img{
    margin-top: 1vw;
    width: 3.05vw;
}

div .down {
    padding: 24vh 0 0 0;
    /* height: 12vh; */
    display: flex;
    justify-content: center;
}
.down-btn{
    background-color: transparent;
    border: none;
}
.down-btn a{
    color: var(--textColor);
}
.down-btn a:hover{
    color: var(--secondaryColor);
    transition: .7s ease;
}





.navHme {
    display: flex;
    
}
#sqAbt {
    margin: 0;
    padding: auto;
    width: calc(100vw/3);
    height: calc(100vw/3);
    background-color: #D999B9;
    cursor: pointer;
    transition: ease-in-out .3s;
    text-decoration: none;
}

#sqSkll {
    margin: 0;
    padding: auto;
    width: calc(100vw/3);
    height: calc(100vw/3);
    background-color: #B8B3E9;
    cursor: pointer;
    transition: ease-in-out .3s;
}
#sqCntct {
    margin: 0;
    padding: auto;
    width: calc(100vw/3);
    height: calc(100vw/3);
    background-color: #90E0F3;
    cursor: pointer;
    transition: ease-in-out .3s;
}

#sqAbt:hover {
    background-color: #e7a9c8;
    transition: ease-in-out .3s;
}
#sqSkll:hover {
    background-color: #beb9ec;
    transition: ease-in-out .3s;
}
#sqCntct:hover {
    background-color: #9fe0f1;
    transition: ease-in-out .3s;
}





@media only screen and (max-width: 425px) {
    div .topic{
        margin: auto;
        padding: 26vh 0 0 0;
        height: 100vh;
        background-color: var(--mainColor);
    }

    div .down{
        visibility: hidden;
    }

    div .logoname h1{
        font-size: 7vw;
        font-weight: 900;
        line-height: 0;
    }

    div .topic{
        text-align: end;
    }
    
    div .topic h3{
        padding: 1.2vh 8vw 0 8vw;
        font-size: 7vw;
        text-align: end;
    }
    
    div .topic p{
        padding: 0 8vw 1.2vh 8vw;
        font-size: 6.5vw;
        text-align: end;
    }
    
    div .topic img{
        width: 5vw;
    }
}