@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

/* smoky black 0F0F0F */
/* fff */
/* aqua */
/* paradise pink ee4266  */

/* :root{
    --mainColor: #fff;
    --mainColorLight: #000;
    --secondaryColor: #ee4266;
    --textColor: #000;
} */

:root{
    --mainColor: #0f0f0f;
    --mainColorLight: #fff;
    --secondaryColor: aqua;
    --textColor: #ee4266;
}

header{
    background-color: var(--mainColor);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    height: 80px;
    /* margin-top: -.5rem; */
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav {
    margin-top: .5rem;
    margin-right: 1.4rem;
    visibility: hidden;
}

nav a{
    /* margin: 0 .5rem; */
    /* margin-top: .5rem; */
    padding: .8rem 1rem .8rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: var(--textColor);
    text-decoration: none;
    background-color: var(--mainColor);
}

nav a:hover{
    color: var(--secondaryColor);
    border: 2px solid var(--mainColorLight); 
    transition: 0.4s ease;
}

/* .active{
    margin: 0 .5rem;
    padding: 1rem 1.4rem 0.8rem 1rem;
    color: var(--secondaryColor);
    border: 2px solid var(--mainColorLight);
    transition: 0.4s ease;
} */

.nav-btn{
    margin-top: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

@media screen {
    .nav-btn{
        position: fixed;
    }
    nav{
        visibility: visible;
    }

    header nav{
        position: fixed;
        margin-top: 5rem;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 1.5rem;
        background-color: #fff;
        transition: .7s;
        transform: translateX(100vw);
        /* background-color: transparent; */
    }

    header .responsive_nav{
        transform: none ;
    }
}