div .boxSkill{
    margin: auto;
    padding: 0 24vw;
    height: 100vh;
    background-color: var(--mainColor);
}

.loading{
    display: flex;
    align-items: center;
    gap: .1rem;
}

.loading .box0{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--mainColorLight)
}

.loading .box1{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--mainColor);
    border: 1.5px solid var(--mainColorLight)
}

.loading .box2{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColorLight)
}

.loading .box3{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--mainColor);
    border: .5px solid var(--mainColorLight);
}

.topicS{
    font-size: 1.65vw;
    font-weight: bold;
    text-decoration: none;
    color: var(--mainColorLight);
    text-align: end;
}

.boxSkill{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxHello{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 38vh;
    color: var(--mainColorLight);
}

.boxLoading h2{
    margin-bottom: 2.2vh;
}
