@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inter:wght@400;600;800;900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --tWhite: #FBFEF9;
  --tBlack: #0F0A0A;
  --tdBlue: #29325F;
  --tPink: #FFA9E7;

  --dRed: #F8B4C3;
  --dYellow: #F7FF85;
  --dBlue: #8BF9F3;
  --dPurple: #A19EE6;

  --pRed: #ffd8e1;
  --pYellow: #fbffbd;
  --pBlue: #d1fffd;
  --pPurple: #cac8ff;

  --iYellow: #fff04e;
}
  

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}
